__pycache__/
*.pyc
.DS_Store
test1/saved_photos/
test1/connections_log.json
face_recognition_prototype2/images/
face_recognition_prototype2/images_output/
face_recognition_prototype2/*.db
face_recognition_prototype2/*.db.*
